* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

h1 {
    color: #121150;
}

#tutorial {
    margin: 5rem auto;
    border-radius: 4px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

.settings {
    background-color: #121150;
    padding: 18px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statistics {
    justify-content: center;
}

.statistics > p {
    margin: 0 10px;
}

td {
    width: 35px;
    height: 35px;
    border: #C380FF 1px solid;
    margin: 0;
}

#head, #tail {
    cursor: grab;
}

#head {
    background-color: #BCFF80;
}

#tail {
    background-color: #FF8480;
}

.visited {
    background-color: #80FCFF !important; 
    transition:  0.1s;
    /* animation: fadeIn 1s ease-out; */
}

.path {
    background-color: #F2FF80 !important; 
    animation: path 1s ease-in-out;
}

#unvisited {
    background-color: transparent;
    transition: 0.1s;
}

#wall {
    background-color: #121150;
    transition: 0.1s;
}

@keyframes path {
    0% { background-color: #80FCFF; }
    50% { background-color: #BCFF80; }
    100% { background-color: #F2FF80; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

#weight {
    background-image: url(weight.svg);
    animation: fadeIn .1s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


#weight_input {
    all: unset;
    border-bottom: 1px solid rgb(255, 255, 255);
    width: 40px;
    margin-right: 20px;
    padding: 0 2px;
}

label {
    margin-left: 10px;
}

button, select {
    background-color: #C380FF;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

button {
    margin: 0 5px;
}

button:hover, select:hover {
    background-color: #b565fa;
}

#start {
    background-color: green;
}

select {
    padding: 5px;
}


.board {
    border-collapse: collapse;
    margin: 0 auto;
}


/* This changes the css code when the width of the screen is below 720px */
@media only screen and (max-width: 810px){
    .settings {
        flex-direction: column;
    }
}